/* etiqueta html vadirectamente el nombre */
/* clases va con "." adelante */
/* ID va con # adelante */

body {
    background-color: rgb(180, 180, 180);
}
.banner {
    width:100%;
    height:auto;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    color: white;
}
.texto-encima{
    position: absolute;
    top: 30px;
    left: 20px;
}
.centrado{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centradobajo{
    position: bottom;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}


.logoag{
    height: 60%;
    width: 60%;
}

li{
    list-style-type: none;
    margin-left: -3%;
}

.imgperfil{
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.nombre{
    font-size: 5rem;
}

.titulo{
    font-size: 1.5rem;
}